{{> navbar}}
    {{> messages}}
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
        {{#each songs}}
        <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <a href="/songs/{{this.id}}">
              <img src="{{this.image}}" alt="Placeholder image"/>
              </a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-6">
                <a href="/songs/{{this.id}}">
                  {{this.title}}
                </a>
              </p>
              <div class="content">
                <p>
                  {{this.artist}}
                  <br />
                  {{this.album}}&nbsp;&nbsp;&nbsp;#{{this.releaseYear}}
                </p>
                {{!-- <p>
                  {{this.album}} {{this.releaseYear}}
                </p> --}}
              </div>
            </div>
          </div>
        </div>
        </div>
        {{/each}}
        </div>
      </div>
    </section>